<!-- hier das neue responsive Mittwald banner -->

<div class="flexbar">
  <a href="http://bit.ly/drmastheadmittwaldagenturtarif" class="flexbar-wrap" target="_blank" rel="nofollow noopener">
    <span class="flexbar-left">
      <span class="flexbar-logo">
        <img src="https://res.cloudinary.com/markus-seyfferth/image/upload/v1560409523/ads/mittwald-logo_rcfdhr.svg">
      </span>
      <span class="flexbar-text">
        <span class="flexbar-heading">
          <span class="flexbar-anzeige">Anzeige<br></span>
          <span class="flexbar-desc">Der Agentur-Server: Das digitale Zuhause für deine Projekte.
          </span>
        </span>
      </span>
    <span class="flexbar-cta">↬ Jetzt testen</span>
    <span class="flexbar-cta-mobile">↬ Jetzt testen!</span>
  </a>
</div>

<!-- Ende Mittwald Masthead Sponsor -->