/*
 Theme Name:   Twenty Twenty Child
 Description:  Twenty Twenty Child Theme
 Author:       Markus Seyfferth
 Author URI:   https://drweb.de
 Template:     twentytwenty
 Version:      1.0.1
 Text Domain:  twenty-twenty-child
*/

/* -------------------------------------------------------------------------- */

/*  1. Document Setup
/* -------------------------------------------------------------------------- */

body {
  background: #fff;
  color: #222;
  font-family: -apple-system,"Helvetica Neue",Helvetica,sans-serif;
  font-size: calc(18px + .1vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.site-description {
  display: none;
}

.site-logo {
  max-width: 200px;
}

.entry-content h1, .entry-content h2, .entry-content h3 {
  margin: 6rem 0 2rem;
}

p {
  margin: 1em 0 1em;
}

/* Typographie ------------------------------------ */

@font-face {
  font-family: "Prometo-Bold";
  font-weight: 700; /* stylelint-disable-line font-weight-notation */
  font-style: bold;
  font-display: swap;
  src: url(/wp-content/uploads/2020/Prometo-Bold.woff2) format("woff2");
}

h1, .heading-size-1, h2.entry-title {
  font-size: calc( 36px + (42 - 32) * (100vw - 320px) / (800 - 320) );
}

h2, .heading-size-2 {
  font-size: calc( 30px + (32 - 28) * (100vw - 320px) / (800 - 320) );
}

h3, .heading-size-3 {
  font-size: calc( 24px + (28 - 24) * (100vw - 320px) / (800 - 320) );
}

h4, .heading-size-4,
.singular .intro-text {
  font-size: calc( 20px + (20 - 18) * (100vw - 320px) / (800 - 320) );
}

.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.entry-content p,
.entry-content li,
.entry-content ol,
.entry-content ul,
.entry-content dl,
.entry-content dt,
p .opener,
.entry-content {
  font-family: -apple-system,sans-serif;
  font-size: calc(18px + .1vw);
  letter-spacing: normal;
  line-height: 1.5;
}

li {
  margin: 1.5rem 0 0 2rem;
}

.wp-block-embed figcaption, .wp-block-image figcaption {
  margin-bottom: 4rem;
}

address,
cite,
em {
  font-style: italic;
}

br {
  padding-bottom: 1em;
}

a {
  color: #0070c9;
}

pre {
  font-size: .8em;
}

/* Quotes ------------------------------------ */

blockquote p::before {
  content: "\201C";
  color: #cd2653;
  margin-left: -60px;
  left: -25px;
  line-height: .6;
  font-size: 120px;
  font-weight: 700;
  position: relative;
  top: 53px;
}

blockquote {
  border-style: none;
  margin: 0 0 4rem 0;
  padding: 0 0 .5rem 8rem;
}

.wp-block-quote {
  margin-top: 1rem;
}

/* Buttons ----- */

.comment-reply-link {
  padding: 1.25rem;
}

.comment-footer-meta {
  font-size: 1.5rem;
}

/* Table of Contents --- */

#ez-toc-container {
  padding: 2em;
}

/* New Mittwald Masthead Sponsor ------------------------------------ */

.flexbar {
  position: relative;
  width: 100%;
  background: #1e72bb;
  background-image: linear-gradient(#1e72bb,#0072bc);
  text-align: left;
  font-family: sans-serif;
}

.flexbar:before {
  width: calc(200px + 5vw);
  left: calc(-250px + 1vw);
  height: 100%;
  -webkit-transform: skewX(-18deg);
  transform: skewX(-18deg);
  background: #72bf44;
  border-right: 3px solid #fff;
  content: "_";
  color: transparent;
  position: absolute;
}

.flexbar-wrap {
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
}

.flexbar-wrap:hover {
  text-decoration: none;
}

.flexbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: calc(1em + .5vw) auto;
}

.flexbar-logo {
  line-height: 0;
  margin: 0;
}

.flexbar-logo img {
  width: 15vw;
  max-width: 250px;
}

.flexbar-text {
  display: flex;
  flex-direction: column;
  margin: 0 calc(1em + 3vw);
}

.flexbar-cta-mobile,
.flexbar-cta {
  padding: 1em 1.5em;
  border: 0;
  border-radius: 32px;
  background: #f9f9f9;
  color: #333;
  text-decoration: none;
  white-space: nowrap;
  letter-spacing: .25px;
  font-weight: 600;
  font-size: calc(15px + .1vw);
  line-height: 1; 
}

.flexbar-anzeige,
.flexbar-desc {
  color: #fff;
  font-size: calc(18px + .1vw);
  line-height: 150%;
}
.flexbar-anzeige {
  font-size: .66em;
  opacity: .5;
}

.flexbar-cta-mobile {
  display: none;
}

@media all and (max-width: 1200px) {
  
.flexbar {
  padding: 0 1vw; 
  }
.flexbar:before {
  width: 0;
  }
.flexbar-text {
  margin: 0 4vw;
  }
.flexbar-cta {
  display: none;
  }
.flexbar-cta-mobile {
  display: flex;
  }
}  

@media all and (max-width: 768px) {
  
.flexbar-cta-mobile,
.flexbar-desc {
  font-size: 16px;
  }
  
.flexbar-cta {
  display: none;
  }
  
.flexbar-cta-mobile {
  display: flex;
  padding: .75em 1em;
  }
  
.flexbar-text {
   margin: 0 calc(.5em + 1vw); 
  }
  
.flexbar-text,
.flexbar-logo img {
  line-height: 100%;
  letter-spacing: -.25px;
  }

.flexbar-wrap {
  padding: .5em;
  }

.flexbar-left {
  margin: .5em auto;
}

@media all and (max-width: 480px) {
  
.flexbar-cta {
  display: none;
  }
  
.flexbar-cta-mobile {
  display: flex;
  }
  
.flexbar-cta-mobile,
.flexbar-desc {
  font-size: 13px;
  letter-spacing: -.25px;
  }
}
