/*
 Theme Name:   Twenty Twenty Child
 Description:  Twenty Twenty Child Theme
 Author:       Markus Seyfferth
 Author URI:   https://drweb.de
 Template:     twentytwenty
 Version:      1.0.1
 Text Domain:  twenty-twenty-child
*/

/* -------------------------------------------------------------------------- */

/*  1. Document Setup
/* -------------------------------------------------------------------------- */

body {
  background: #fff;
  color: #222;
  font-family: -apple-system,"Helvetica Neue",Helvetica,sans-serif;
  font-size: calc(18px + .1vw);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
}

.site-description {
  display: none;
}

.site-logo {
  max-width: 200px;
}

.entry-content h1, .entry-content h2, .entry-content h3 {
  margin: 6rem 0 2rem;
}

p {
  margin: 1em 0 1em;
}

/* Typographie ------------------------------------ */

@font-face {
  font-family: "Prometo-Bold";
  font-weight: 700; /* stylelint-disable-line font-weight-notation */
  font-style: bold;
  font-display: swap;
  src: url(/wp-content/uploads/2020/Prometo-Bold.woff2) format("woff2");
}

h1, .heading-size-1, h2.entry-title {
  font-size: calc( 36px + (42 - 32) * (100vw - 320px) / (800 - 320) );
}

h2, .heading-size-2 {
  font-size: calc( 30px + (32 - 28) * (100vw - 320px) / (800 - 320) );
}

h3, .heading-size-3 {
  font-size: calc( 24px + (28 - 24) * (100vw - 320px) / (800 - 320) );
}

h4, .heading-size-4,
.singular .intro-text {
  font-size: calc( 20px + (20 - 18) * (100vw - 320px) / (800 - 320) );
}

.widget_text p,
.widget_text ol,
.widget_text ul,
.widget_text dl,
.widget_text dt,
.entry-content p,
.entry-content li,
.entry-content ol,
.entry-content ul,
.entry-content dl,
.entry-content dt,
p .opener,
.entry-content {
  font-family: -apple-system,sans-serif;
  font-size: calc(18px + .1vw);
  letter-spacing: normal;
  line-height: 1.5;
}

li {
  margin: 1.5rem 0 0 2rem;
}

.wp-block-embed figcaption, .wp-block-image figcaption {
  margin-bottom: 4rem;
}

address,
cite,
em {
  font-style: italic;
}

br {
  padding-bottom: 1em;
}

a {
  color: #0070c9;
}

pre {
  font-size: .8em;
}

#ez-toc-container {
  margin-bottom: 2em;
}

/* Quotes ------------------------------------ */

blockquote p::before {
  content: "\201C";
  color: #cd2653;
  margin-left: -60px;
  left: -25px;
  line-height: .6;
  font-size: 120px;
  font-weight: 700;
  position: relative;
  top: 53px;
}

blockquote {
  border-style: none;
  margin: 0 0 4rem 0;
  padding: 0 0 .5rem 8rem;
}

.wp-block-quote {
  margin-top: 1rem;
}

/* Buttons ----- */

.comment-reply-link {
  padding: 1.25rem;
}

.comment-footer-meta {
  font-size: 1.5rem;
}

/* Table of Contents --- */

#ez-toc-container {
  padding: 2em;
}

/* Lässt die Links blau, weil irgendwo ein Bug versteckt ist. Entweder Bug aufspüren, oder so lassen */

@media all and (max-width: 768px) {

.flexbar-left {
  margin: .5em auto;
}